@model Wedding
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wedding</title>
</head>
<body>
    <h1>Add wedding</h1>
    <div><a href="/home"<button>home</button></a></div>
    <div> <a href="/wedding/@Model.WeddingId"> <button> view </button></a> </div>
    <form action="/logout" method="post"> <button>Logout</button> </form>
    <form asp-controller="wedding" asp-action="update" asp-route-id="@Model.WeddingId" method="post">
                <div>
                <input type="text" asp-for="person1" placeholder="@Model.person1" value="@Model.person1">
                <span asp-validation-for="person1" ></span>
                </div>
                <div>
                <label asp-for="person2"></label>
                <input type="text" asp-for="person2" placeholder="@Model.person2" value="@Model.person2">
                <span asp-validation-for="person2" ></span>
                </div>
                <div>
                <label asp-for="Date"></label>
                <input  asp-for="Date" type="datetime" placeholder="@Model.Date" value="@Model.Date">
                <span asp-validation-for="Date" ></span>
                </div>
                <div>
                <label asp-for="Address"></label>
                <input  asp-for="Address" placeholder="@Model.Address" value="@Model.Address">
                <span asp-validation-for="Address" ></span>
                </div>
                <button>update wedding</button>

    </form>
</body>
</html>